@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Header area*/
.header-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header-content{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    width: 150px;
    padding-right: 10px;
    padding-left: 10px;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 150px);
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.navigation ul li a{
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.navigation ul li a:hover{
    color: #c12929;
}
.navigation ul li a.button{
    color: #c12929;
    border: 1px solid #c12929;
    border-radius: 50px;
}
.navigation ul li a.button:hover{
    background-color: #DF3D6B;;
    color: #fff;;
}
/* Cover Section Style */
.cover-area{
    background-image: url(https://images.pexels.com/photos/220762/pexels-photo-220762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.cover-content{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.cover-content h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}
.cover-content p{
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}
/* Latest News Area */

.news-area{
    margin-top: 80px;
    margin-bottom: 20px;
}

.latest-news-img-area{
    width: 80%;
    margin: 60px auto;
    display: flex;
}
.image-area{
    width: 55%;
    margin-right: 20px;
}

.image-area img{
    width: 100%;
    object-fit: cover;
}

.text-area{
    width: 45%;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.text-area h2{
    font-weight: 300;
    margin-bottom: 10px;
}
.news-meta li {
    display: inline-block;
    margin-right: 20px;
}

.news-meta i{
    margin-right: 10px;
    font-size: 12px;
}

.news-meta span{
    font-size: 13px;
    font-weight: 300;
}

.news-meta p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
}

.news-meta .readmore-btn{
    margin-top: 30px;
}

.news-meta .readmore-btn a{
    text-decoration: none;
    color: #DF3D6B;
    padding: 10px 25px;
    border: 1px solid #DF3D6B;
    border-radius: 50px;
    font-weight: 400;
    font-size: 14px;
}

.pagination{
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.pagination a{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 15px;
    text-decoration: none;
    color: black;
    border: 1px solid #dfe4ea;
    background-color: #dfe4ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    font-size: 14px;
}

.pagination .active{
    background: #000;
    color: #fff;
}

/* Subscribe Area */

.subscribe-area{
    width: 100%;
    background-color: #DF3D6B;
    padding: 70px 20px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.subscribe-wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
}

.subscribe-wrapper .subscribe-text {
    width: 85%;
    display: flex;
    align-items: center;
}
.subscribe-text .img-wrapper {
    width: 13%;
}

.subscribe-wrapper .subscribe-text img{
    color: #fff;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.subscribe-wrapper .rano-wrapper{
    width: 87%;
}

.subscribe-wrapper .rano-wrapper span{
    font-size: 27px;
    color: #fff;
}

.subscribe-wrapper .subscribe-btn {
    width: 15%;
}

.subscribe-wrapper .subscribe-btn button{
    display: block;
    justify-content: center;
    border: none;
    color: #DF3D6B;
    padding: 10px 25px;
    border: 1px solid #DF3D6B;
    border-radius: 50px;
    font-size: 13px;
}

/* Footer Area */
.footer-area{
    width: 100%;
}

.footer-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-wrapper .rano-logo{
    width: 100%;
}

.footer-wrapper .rano-logo img{
    width: 25%;
}


.footer-wrapper .rano-trademark{
    width: 100%;
}

.footer-wrapper .rano-trademark p{
    font-size: 15px;
    color: #000;
    font-size: 14px;
}

.footer-wrapper .rano-trademark span{
    color: #DF3D6B;
    font-weight: 400;
    font-size: 14px;
}

.footer-wrapper .rano-social{
    width: 100%;
    text-align: right;
}

.footer-wrapper .rano-social i{
    margin-right: 10px;
}
.footer-wrapper .rano-social a{
    color: grey;
}